body {
    background-color: #10101a;
    color: #FFFFFF;
}

#textContainer {
    position: relative;
}

#fadingText {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fade 10s linear infinite;
}

#fadingName {
    background: linear-gradient(to right, #a784ed , #6ec2f8);
    background-size: 200% auto;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.Header {
    display: flex;
    align-items: center;
}

.Header img.Profile {
    float: left;
    position: relative;
    left: 2.5%;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.Header button {
    position: absolute;
    top: 5%;
    height: 3%;
    font-size: 2vw;
    background-color: #6CD4FF;
    color: #173753;
}

.Header .text-container {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-top: -4%;
}

.Header h2 {
    font-size: 9vw;
    margin-bottom: -10%;
}

.Header h1.Name {
    font-size: 5vw;
    margin-left: 7%;
    background: -webkit-linear-gradient(left, #a784ed , #6ec2f8);
    background: -o-linear-gradient(right, #a784ed, #6ec2f8);
    background: -moz-linear-gradient(right, #a784ed, #6ec2f8);
    background: linear-gradient(to right, #a784ed , #6ec2f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
}

.Header h3.time {
    position: relative;
    right: 65px;
    top: 130px;
    color: #8B80F9;
}

.Divider {
    position: relative;
    border-bottom: 3px solid lightgray;
    width: 80%;
    margin: 0 auto;
    display: block;
}

.Platforms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 0.5% 15%;
    margin: 0 auto;
}

.Platforms button {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Platforms img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    cursor: pointer;
}

.About {
    display: flex;
    justify-content: center; /* center the sections horizontally */
    padding: 0 10%;
    margin: 0 auto;
}

.Section {
    flex-basis: 45%;
    padding: 10px;
    justify-content: center;
    margin: 0 20px;
    background-image: url("CommandPromptBG.png");
    background-size: cover;
}

.About > .Section { /* add space between the sections */
    margin: 0 20px;
}

.Section h3 {
    font-size: 1vw;
    font-weight: normal;
    color: lightgray;
    margin-top: 0.2vw;
    margin-left: 5%;
    font-family: Consolas, serif;
}

.Section ul, p {
    font-size: 0.8vw;
    word-wrap: break-word;
    margin-top: 0;
    color: lightgray;
    text-align: left;
    font-family: Consolas, serif;
}

h1 {
    text-align: center;
    color: #a0b1cd;
    font-size: 2vw;
    margin-bottom: 0.5%;
}

iframe {
    display:block;
    margin: 0 auto;
}

.Projects {
    display: block;
}

.Projects h2 {
    margin-left: 0.5vw;
}

.Language {
    display: flex;
    overflow: hidden;
}

.Project {
    width: 32.3%;
    height: 18vw;
    margin: 0 0.5vw;
    position: relative;
    flex-shrink: 0;
}

.Project img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.Project p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Contact {
    text-align: center;
}

.Contact h2 {
    text-align: center;
}
